:root{
	--primary:#5c6bc0;
	--secondary:#c0b15c;
	--light:#8e99f3;
	--dark:#26418f;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--dark);
	margin: 0;
}

#content{
	background-color: white;
	margin-left: 5vw;
	width: 90vw;
	display: block;
	padding-top: 5vh;
}