{% extends "baseTemplate.jinja2" %}

{% block navBar %}
<nav id="navBar">
<ul>
	<li>Stagger</li>
	<li>Create A Stagger</li>
	<li>My Staggers</li>
	<li>Recommended Staggers</li>
	<li>Login</li>
</ul>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

